input {
  border-radius: 5px;
  padding: 5px;
  border: 0;
  background-color: #edeef2;
  border: 1px solid $purple-dark;
}

input:focus {
  background-color: #f0f1f5;
}

.change__form {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-around;

  .field {
    display: flex;
    flex-direction: column;
    text-align: center;
    label {
      margin-right: 15px;
      margin-bottom: 5px;
    }
    .gnome__id {
      width: 50px;
    }

    input:disabled {
      border: none;
    }
  }
}

.response__code {
  text-align: right;
  padding-right: 10%;
  color: red;
}

.loading__line {
  position: absolute;
  bottom: 0px;
  border-radius: 5px;
  left: 0px;
  width: 0%;
  height: 38px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-animation: load 1s linear infinite;
  animation: load 0.1s linear;
}

@keyframes load {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
